<html>
                    <head>
                                        <title>
                                                            <%= locals.title %>
                                        </title>
                                        <!-- <link rel="stylesheet" href="/css/home.css"> -->
                    </head>
                    <body>
                                        <h1>Home:</h1>
                                        <h1>hey! I have set template engine as ejs and by using that i set view and and i am going to render this home.ejs file on browser.. yuppiii!!!</h1>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minus ipsa consequuntur atque eos maxime nam expedita, ad aliquam sit, consequatur possimus vero iusto. Laudantium est velit deleniti eum illo voluptas veniam, iusto rerum accusantium quos in dolor mollitia ut?</p>

                                        <!-- <script type="text/javascript" src="/js/home.js"></script> -->
                    </body>

</html>