<html>
                    <head>
                                        <title>
                                                            <%= locals.title  %>
                                        </title>
                    </head>
                    <body>
                                        <h1>Profile Page</h1>
                                        <h1>Hey! I am Bhavya Tiwari. Welcome to my profile page!!</h1>
                                        <ul>
                                                            <% for(let i =1; i<=5;i++) { %>
                                                            <li> <%= i %> </li>
                                                            <% } %>
                                        </ul>


                                        <% if(true) {%>
                                                            <p>hey! this is true</p>
                                        
                                        <% } else {%>
                                                            <p>this is false :(</p>
                                        <% } %>
                    </body>

</html>